@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';

// Post Tag
.post {
  h1 {
    margin-bottom: .1em;
  }

  .date {
    font-weight: 300;
    font-size: $small-font-size;
    color: $base-lighten-color;
    margin-right: 3px;
  }

  .tag {
    display: inline;
    font-weight: 300;
    font-size: $small-font-size;

    li:before {
      content: '';
    }

    li {
      display: inline;
      margin: 0;

      > a {
        margin: 3px 3px 3px 0;
        padding: .5px 4px;
        color: $tag-index-label-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;
      }
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}


// Archive
.archive {
    a {
      color: $base-color;
    }
    time {
      color: $base-lighten-color;
      font-size: $small-font-size;
      font-weight: 300;
      margin-left: 3px;
    }
  }
  
  // Tags
  .tags > .label {
    > li:before {
      content: "";
    }
  
    > li {
      margin: 0;
      font-size: $small-font-size;
      font-weight: 300;
      display: inline;
  
      > a {
        display: inline-block;
        margin: 1px;
        color: $tag-index-label-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;
  
        span {
          float: left;
          padding: .5px 5px;
  
          &.count {
            background-color: $tag-index-count-background-color;
            border-radius: 0 3px 3px 0;
          }
        }
      }
    }
  }
  
  .tags > .tag {
    a {
      color: $base-color;
    }
    time {
      color: $base-lighten-color;
      font-size: $small-font-size;
      font-weight: 300;
      margin-left: 3px;
    }
  }
  