---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">
          {{ post.date | date: "%Y" }}年
          {% assign m = post.date | date: "%-m" %} 
            {% case m %}
              {% when '1' %}一月
              {% when '2' %}二月
              {% when '3' %}三月
              {% when '4' %}四月
              {% when '5' %}五月
              {% when '6' %}六月
              {% when '7' %}七月
              {% when '8' %}八月
              {% when '9' %}九月
              {% when '10' %}十月
              {% when '11' %}十一月
              {% when '12' %}十二月
            {% endcase %}
          {{ post.date | date: "%-d" }}日
        </time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content |  split:'<!--break-->' | first }}

        </p>
        
      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
