---
layout: default
---

<div class="post">
    <div class="post-info">
    <span>作者：</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <time datetime="{{ page.date }}">
        {{ page.date | date: "%Y" }}年
        {% assign m = page.date | date: "%-m" %} 
          {% case m %}
            {% when '1' %}一月
            {% when '2' %}二月
            {% when '3' %}三月
            {% when '4' %}四月
            {% when '5' %}五月
            {% when '6' %}六月
            {% when '7' %}七月
            {% when '8' %}八月
            {% when '9' %}九月
            {% when '10' %}十月
            {% when '11' %}十一月
            {% when '12' %}十二月
          {% endcase %}
        {{ page.date | date: "%-d" }}日
      </time>
    {% endif %} 
  </div>


  
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  

<br>
  {{ content }}
</div>




{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

</div>